.vscode
.idea
nginx

# build output
frontend/dist/
frontend/.output/
# dependencies
frontend/node_modules/
# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# environment variables
frontend/.env
frontend/.env.production

# macOS-specific files
.DS_Store
