---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Veshutov Alexandr';
const description = 'Главная страница';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="flex flex-1 flex-col md:flex-row gap-3 md:gap-10 max-w-[1040px] justify-center items-center mx-auto">
    <div class="home-copy">
      <h1>Вешутов Александр</h1>
      <p>Руководитель группы бэкенд разработки</p>
      <p>Яндекс</p>
    </div>
    <div class="hero-image-container">
        <img alt="Profice picture" src="/assets/profile.jpg" class="h-56 w-56 rounded-full"/>
    </div>
  </div>
</BaseLayout>

<style>
  .home-copy {
    flex: 1;
    max-width: 700px;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      text-align: center;
    }
  }
</style>
