---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Veshutov Alexandr';
const description = 'Главная страница';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="flex flex-1 flex-col max-w-[1040px] justify-center mx-auto">
      <h1>Вешутов Александр</h1>
      <p>Руководитель группы бэкенд разработки</p>
  </div>
</BaseLayout>
